@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.topnav-icon {
    font-size: 15px;
    background-color: #223a66;
    color: white;
    padding-right: 5px;
}

.navbar-nav a {
    font-size: 20px;
    border-radius: 10px;
    color: gray;
}

.nav-links {
    color: black;
    text-decoration: none;
    padding: 10px;
}

.nav-links:hover {
    color: white;
    background-color: #223a66;
    color: white;
    transition: 0.5s;
    text-decoration: none;
}

.apointment-btn-red {
    background-color: #ae1b40;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    width: 100%;
    font-weight: bold;
    padding: 14px 30px 14px 30px;
}

.apointment-btn-red:hover {
    text-decoration: none;
    color: white;
    transition: 0.5s;
    background-color: #223a66;
}

.apointment-btn-blue {
    background-color: #ae1b40;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    padding: 14px 30px 14px 30px;
    border-radius: 100px;
}

.apointment-btn-blue:hover {
    color: white;
    text-decoration: none;
    background-color: #223a66;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-custom-color {
    background-color: #223a66;
}

.card-body {
    text-align: center;
}

.card .img-fluid {
    width: 100%;
    height: 200px;
}

.carousel-item .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.white {
    padding: 20;
    background-color: white;
}

.info-content1 {
    background-color: #223a66;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 100px;
}

.Testimonials h1 {
    font-size: 70px;
}

.info-content2 {
    background-color: #223a66;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.health {
    font-size: 14px;
}

.health h4 {
    color: #ae1b40;
}

.site-footer {
    background-color: #223a66;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #ffff;
}

.footer-location {
    padding-left: 30px;
    padding-right: 10px;
}

.footer-quick-links {
    padding-left: 70px;
    padding-right: 10px;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: white;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links a {
    padding-top: 15px;
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #ffff
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: white;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}

.site-footer .social-icons {
    text-align: right
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #ae1b40;
}

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px
}

.social-icons .footer-icon {
    color: white;
    padding: 12px;
}

.social-icons a.facebook:hover {
    background-color: #3b5998
}

.social-icons a.intagram:hover {
    background-color: #df4d8b;
}

.social-icons a.twitter:hover {
    background-color: #007bb6
}

.social-icons a.whatsapp:hover {
    background-color: #48c557
}

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}